<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid navbar p-0">
        <a class="navbar-brand navbar-item nav-logo" href="#">
            <div class="logo-container">
                <img src="https://img.freepik.com/free-vector/colorful-children-school-icon-logo-design_474888-2871.jpg?t=st=1710044098~exp=1710047698~hmac=84fb89a3be6ec590967072d5fe9f77d1ff3b3cc52132557b9d1e58b8092253c3&w=740" alt="Jijamata Logo" class="img-fluid">
                <span class="company-name">Logo</span>
            </div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse ms-auto collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-lg-0 me-sm-5 text-center collapsed">
                <li class="navbar-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link active" href="#about-us">About Us</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link active" href="#contactus">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>