<section class="footer mt-4">
    <div class="container-fluid">
        <!-- <div class="text-center text-md-end">
            <a target="_blank" class="text-white px-2">
                <img class="social-icon" src="https://img.icons8.com/3d-fluency/188/facebook-circled.png"
                    alt="facebook-circled" loading="lazy" />
            </a>
            <a href="https://wa.me/9022328048?text=Hello! I'm interested? Thank you!" target="_blank"
                class="text-white px-2">
                <img class="social-icon" src="https://img.icons8.com/3d-fluency/94/whatsapp.png" alt="whatsapp"
                    loading="lazy" />
            </a>
            <a class="text-white px-2" target="_blank">
                <img class="social-icon" src="https://img.icons8.com/3d-fluency/94/instagram-new.png"
                    alt="instagram-new" loading="lazy" />
            </a>
            <a class="text-white px-2 " target="_blank">
                <img class="social-icon" src="https://img.icons8.com/3d-fluency/94/linkedin.png" alt="linkedin" />
            </a>
        </div> -->
        <div class="row mt-3 text-center">
            <div class="col-sm-12 col-md-4 text-start">
                <div class="d-md-flex align-items-center text-center text-md-start">
                    <img src="assets/images/logo.png" alt="" class="me-md-3 mb-md-0">
                    <div class="ms-5">
                        <h2>Om<span>Sai</span></h2>
                        <p>
                            At company_name, we don't just see ourselves as software developers; we see ourselves as
                            architects of digital experiences. We invite you to join us on this exciting journey as
                            we navigate the ever-evolving digital landscape. Whether you have a specific project in
                            mind or are exploring possibilities, we're here to collaborate with you, turning your
                            ideas into digital reality.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <h2>Links</h2>
                <p>About Us</p>
                <p>Services</p>
                <p>Contact Us</p>
                <p>Product</p>
            </div>

            <div class="col-sm-12 col-md-4 text-start text-center text-md-start">
                <h2> Contact</h2>
                <p><i class="fas fa-home mr-3"></i> Pyramid County, Pansare Colony <br><span class="mx-3">Bhukum,
                        Pune, Maharastra, 443101</span></p>
                <p><i class="fas fa-envelope mr-3"></i> contact@bhokat.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 91 95117487..</p>
                <p><i class="fas fa-phone mr-3"></i> + 91 84129751..</p>
            </div>
        </div>
    </div>
    <div class="row final-footer py-2">
        <div class="col text-center">
            <p class="mb-0 text-white">
                Copyright 2023 - The Creative Balloon Company - Integrated Ideas Agency Ltd.
            </p>
        </div>
    </div>
</section>