<section class="footer mt-4">
    <div class="container-fluid">
        <!-- <div class="text-center text-md-end">
            <a target="_blank" class="text-white px-2">
                <img class="social-icon" src="https://img.icons8.com/3d-fluency/188/facebook-circled.png"
                    alt="facebook-circled" loading="lazy" />
            </a>
            <a href="https://wa.me/9022328048?text=Hello! I'm interested? Thank you!" target="_blank"
                class="text-white px-2">
                <img class="social-icon" src="https://img.icons8.com/3d-fluency/94/whatsapp.png" alt="whatsapp"
                    loading="lazy" />
            </a>
            <a class="text-white px-2" target="_blank">
                <img class="social-icon" src="https://img.icons8.com/3d-fluency/94/instagram-new.png"
                    alt="instagram-new" loading="lazy" />
            </a>
            <a class="text-white px-2 " target="_blank">
                <img class="social-icon" src="https://img.icons8.com/3d-fluency/94/linkedin.png" alt="linkedin" />
            </a>
        </div> -->
        <div class="row mt-3 text-center">
            <div class="col-sm-12 col-md-4 text-start">
                <div class="d-md-flex align-items-center text-center text-md-start">
                    <img src="assets/images/logo.png" alt="" class="me-md-3 mb-md-0">
                    <div>
                        <h2>School Name</h2>
                        <p>At [School Name], we don't just teach – we create exciting learning adventures! We invite you to be a part of our
                        journey as we explore the world of education together. Whether you have a special project in mind or are curious about
                        new ideas, we're here to help you learn and grow. Let's turn your dreams into reality in our classrooms!
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <h2>Links</h2>
                <p>About Us</p>
                <p>Services</p>
                <p>Contact Us</p>
                <p>Product</p>
            </div>

            <div class="col-sm-12 col-md-4 text-start text-center text-md-start">
                <h2> Contact</h2>
                <p><i class="fas fa-home mr-3"></i> Pyramid County, Pansare Colony <br><span class="mx-3">Bhukum,
                        Pune, Maharastra, 443101</span></p>
                <p><i class="fas fa-envelope mr-3"></i> schoolname@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 91 95117487..</p>
                <p><i class="fas fa-phone mr-3"></i> + 91 84129751..</p>
            </div>
        </div>
    </div>
    <div class="row final-footer py-2">
        <div class="col text-center">
            <p class="mb-0 text-white">
                Copyright 2023 - The Creative Balloon Company - Integrated Ideas Agency Ltd.
            </p>
        </div>
    </div>
</section>