.footer {
    background-color: #F7F8FA;
    overflow: hidden;
}

.footer p {
    /* color: #77A28B; */
    color: #626262;
    ;
}

.social-icon {
    height: 45px;
    width: 45px;
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.4));
}

.final-footer {
    background-color: #282828;
    color: #ffffff !important;
}