<section class="event-celebration">
    <app-slider></app-slider>
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-12 col-md-6 text-center">
                <img src="assets/images/img-1.png" class="img-fluid w-50" alt="...">
            </div>
            <div class="col-sm-12 col-md-6">
                <h1>WARM GREETINGS AND WELCOME TO OUR WEBSITE.</h1>
                <p>We the Aloysians believe that true education is an amalgamation of mental development, discipline,
                    and character
                    formation. We educate our students to provide an environment that facilitates personality
                    development. We also see that
                    the child is aware of his/her role in society. With the efforts of the staff and students the school
                    marches forward to
                    attain their motto ‘EXCELSIOR’ i.e. to excel..
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid labels">
        <div class="row p-5">
            <div class="col-sm-12 col-md-3">
                <div class="svg-container">
                    <img src="assets/images/icon-1.png" class="img-fluid">
                    <p class="ps-4">World Class<br>Infrastructure</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="svg-container">
                    <img src="assets/images/icon-2.png" class="img-fluid">
                    <p class="ps-4">Well Qualified<br>Teachers</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="svg-container">
                    <img src="assets/images/icon-3.png" class="img-fluid">
                    <p class="ps-4">Most Trusted<br>Institute</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="svg-container">
                    <img src="assets/images/icon-4.png" class="img-fluid">
                    <p class="ps-4">5000 +<br>Students</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5" style="background-color: #f0f4f5;">
        <div class="row text-center fa-bold">
            <div class="col-sm-12">
                <p>WHY CHOOSE ST. ALOYSIUS</p>
                <h1>The Best <span class="heading">Educational Institute</span> In<br>
                    Buldana</h1>
                <img src="assets/images/slide.png" alt="random image" class="img-fluid">
            </div>
        </div>
        <div class="container my-3 mt-3">
            <div class="row text-center">
                <div class="col-sm-12 col-md-4">
                    <div class="card w-100">
                        <img src="assets/images/objective.png" alt="random image">
                        <div class="card-body">
                            <h5 class="card-title">Objectives</h5>
                            <p class="card-text lh-base">The objective for which the society is established is education
                                and for
                                this it imparts knowledge and moral values to
                                all irrespective of religion, race, caste, creed or community.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card  w-100">
                        <img src="assets/images/mission.png" class="card-img-top" alt="random image">
                        <div class="card-body">
                            <h5 class="card-title">Mission</h5>
                            <p class="card-text lh-base custom-text-justify">To equip our students with the kingdom
                                values reflecting in
                                their right
                                attitude, creative thinking, leadership
                                qualities and reaching out to humanity thus bringing the fullness of life and harmony in
                                the society and the
                                environment.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card  w-100">
                        <img src="assets/images/vision.png" alt="random image">
                        <div class="card-body">
                            <h5 class="card-title">Vision</h5>
                            <p class="card-text lh-base">Creation of a new human society through education where
                                equality,
                                freedom, love, justice, peace and joy reign in an
                                eco-friendly union.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row my-4">
            <div class="col-sm-12 col-md-6">
                <p class="heading">ABOUT US</p>
                <h1>Our <span class="heading">Sections</span></h1>
                <img src="assets/images/slide.png" alt="random image" class="img-fluid">
                <p class="mt-5">St. Aloysius Convent School has a Primary Section and Pre-Primary Section apart from
                    the High
                    School Section. The High
                    School section is further divided into the English medium and Semi English Medium. Both the
                    Medium’s are Government
                    aided. The Primary Section has an Aided Marathi/Semi Medium and a Non Aided English Medium.</p>
            </div>
            <div class="col-sm-12 col-md-6 about-img">
                <div class="image-container position-relative">
                    <img src="assets/images/shape-14.png" class="img-fluid about-shape14">
                    <img src="assets/images/shape-10.png" class="img-fluid about-shape10 rotate-animation">
                    <img src="assets/images/teacher-2.jpg" class="img-fluid about-image1">
                    <img src="assets/images/teacher-1.jpg" class="img-fluid about-image2">
                </div>

            </div>
        </div>
    </div>

    <app-our-program></app-our-program>
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-md-12 text-center">
                <img class="img-fluid"
                    src="https://img.freepik.com/free-vector/scene-with-many-children-park_1308-42742.jpg?t=st=1710041765~exp=1710045365~hmac=262b0684c1cc5420043b43c481454ab605c3200abab55b0eab9fb816dce9fb24&w=1060">
            </div>
        </div>
    </div>
    <app-our-team></app-our-team>
    <div class="container my-5 contact-us mt-5">
        <div class="row contact-img">
            <img src="assets/images/bg-1.png" class="img-fluid">
        </div>
        <div class="row content">
            <div class="col-sm-12 col-md-5">
                <div class="contact-info text-md-end text-center">
                    <h4>Get In Touch:</h4>
                    <h1>kaykrshin@gmail.com</h1>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 d-flex align-items-center justify-content-center">
                <div class="or d-flex align-items-center justify-content-center">
                    <p>or</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 text-md-start text-center">
                <div class="contact-info">
                    <h4>Call Us:</h4>
                    <h1>02582 222 662</h1>
                </div>
            </div>
        </div>
    </div>
</section>