<div class="container-fluid py-5 program">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h5>Our Programs</h5>
            <h1>Explore Our Captivating Robotic<br> Programs for Kids</h1>
            <p>Pulvinar nunc eget tincidunt id urna diam scelerisque cursus. Quis nunc pharetra arcu lectus
                nisl.<br> Tortor vulputate sed
                maecenas rhoncus viverra purus.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card card-1">
                    <h3>After School</h3>
                    <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality
                        to
                        your Ionic apps.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card-2">
                    <h3>Virtual Programs</h3>
                    <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
                        of mobile UI components, ready to go.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card-3">
                    <h3>Theming</h3>
                    <p>Learn how to easily customize and modify your app’s design to fit your
                        brand across all mobile platform styles.</p>
                </div>
            </div>
        </div>
        <div class="row mt-md-4">
            <div class="col-sm-12 col-md-4">
                <div class="card card-1">
                    <h3>Summer Camps</h3>
                    <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily add any native
                        functionality
                        to
                        your Ionic apps.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card-2">
                    <h3>Competitions</h3>
                    <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
                        of mobile UI components, ready to go.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card-3">
                    <h3>Online Course</h3>
                    <p>Learn how to easily customize and modify your app’s design to fit your
                        brand across all mobile platform styles.</p>
                </div>
            </div>
        </div>
    </div>
</div>