<div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner carousel-slide">
        <div class="carousel-item active">
            <img src="assets/images/slide1.jpg" class="d-block w-100 img-fluid" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                <h5>Slide 1</h5>
                <p>Description of Slide 1</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/slide2.jpg" class="d-block w-100 img-fluid" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>Slide 2</h5>
                <p>Description of Slide 2</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/slide3.jpg" class="d-block w-100 img-fluid" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
                <h5>Slide 3</h5>
                <p>Description of Slide 3</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/slide4.jpg" class="d-block w-100 img-fluid" alt="Slide 4">
            <div class="carousel-caption d-none d-md-block">
                <h5>Slide 4</h5>
                <p>Description of Slide 3</p>
            </div>
        </div>
    </div>
</div>